body {
}

#board {
	width: 800px;
	height: 500px;
	background-image: url("images/bg1.png");
  background-size: cover;
	margin: auto;
	position: relative;
}

.chara {
	height: 200px;
	width:  200px;
	position: absolute;
  margin-bottom: 50px;
}

#chara1 {
	left: 0;
  bottom: 0;
	margin-left: 10px;
	background-image: url("images/chara1.png");
}

#chara2 {
	right: 0;
  bottom: 0;
	margin-right: 10px;
	background-image: url("images/chara2.png");
}

button {
	margin: auto;
	margin-top: 20px;
  padding: 15px 32px;
  color: white;
  background-color: dimGrey;
  border-color: black;
	display: block;
	border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
